<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.CommentMapper">
	<select id="selectCommentList" parameterType="java.util.Map" resultType="com.example.diary.vo.Comment">
		SELECT comment_no commentNo,
						member_id memberId,
						notice_no noticeNo,
						comment_content commentContent,
						is_secret isSecret,
						createdate
			FROM comment
			WHERE notice_no=#{noticeNo}
			ORDER BY comment_no DESC
		    LIMIT #{beginRow}, #{rowPerPage}
		</select>
	<insert id="insertComment"  parameterType="com.example.diary.vo.Comment" >
	INSERT INTO comment (notice_no, member_id, comment_content, is_secret)
	VALUES(#{noticeNo}, #{memberId}, #{commentContent}, #{isSecret});

</insert>

<delete id="deleteComment" parameterType="com.example.diary.vo.Comment">
	DELETE FROM comment WHERE member_id= #{memberId} AND comment_no=#{commentNo};
</delete>

<update id="updateComment">
	UPDATE comment SET comment_content = #{commentContent} WHERE comment_no =#{commentNo} AND member_id=#{memberId};
</update>
<select id="selectCommentOne">
	SELECT comment_no commentNo, comment_content commentContent FROM comment WHERE comment_no=#{commentNo} AND member_id = #{memberId};
</select>
</mapper>