<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.diary.mapper.MemberMapper">
	<select id="login" parameterType="com.example.diary.vo.Member" resultType="com.example.diary.vo.Member" >
	SELECT member_id memberId,
					member_pw memberPw,
					member_no memberNo,
					member_level memberLevel
		FROM member
		WHERE member_id = #{memberId}
		AND member_pw = PASSWORD(#{memberPw}) 
	</select>
	<!-- 회원가입 -->
	<insert id="insertMember" parameterType="com.example.diary.vo.Member">
		INSERT INTO member(
							member_id,
							member_pw	)VALUES(
							#{memberId}, PASSWORD(#{memberPw}));
	</insert>
	<update id="updatePw">
		UPDATE member SET member_pw = PASSWORD(#{newMemberPw}) WHERE member_no=#{memberNo} AND member_pw=PASSWORD(#{memberPw})
	</update>
</mapper>